@page "/"

<div class="root">
    <div class="content">
        <div>
            <div>
                This is a game where you need to guess characters from popular game GTA V by their lines from the game.
            </div>
            <div>
                Can you guess them all?
            </div>
            <div>
                There are 3 levels, try your best.
            </div>
        </div>
        <div>
            <div>
                Dear chat, you are participaiting as well! So try your best too!
            </div>
            <div>
                In order to guess you need to type full name of the character into the chat.
            </div>
            <div>
                For example:
            </div>
            <div>
                if you think that line was said by Michael, type: <i style="color: #007bff">Michael De Santa</i>; Cletus - <i style="color: #007bff">Cletus Ewing</i>
            </div>
            <div>
                @if(_correctMessage is not null)
                {
                    var phrase = _cheeringPhrases[Random.Shared.Next(0, _cheeringPhrases.Length)];
                    var words = phrase.Split("{username}");

                    for(int i = 0; i < words.Length; i++)
                    {
                        if(i != 0)
                        {
                            <span style='color: @(_correctMessage.Color is null ? "#28a745" : _correctMessage.Color);'>
                                @(_correctMessage.UserDisplayName)
                            </span>
                        }
                        <text>@(words[i])</text>
                    }
                }
                else
                {
                    <br/>
                }
            </div>
        </div>
        <div>
            <div class="chat-messages">
                @if(_chat.Count == 0)
                {
                    <div class="chat-messages-hint">
                        Try your best, chat!
                    </div>
                }
                @for(int i = _chat.Count - 1; 0 <= i; i--)
                {
                    <div>
                        <span style='color: @(_chat[i].Color is null ? "#28a745" : _chat[i].Color);'>
                            @_chat[i].UserDisplayName
                        </span>: <span>@_chat[i].Message</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="footer">
        <button @onclick=@OnStartClick disabled=@(!Data.IsInitialized)>
            @if (Data.IsInitialized)
            {
                <text>Start</text>
            }
            else
            {
                <text>Loading...</text>
            }
        </button>
    </div>
</div>
